<h1 class="blog-new">Confirm</h1>
<div class="box1-blogs-index">
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>
  
  <p>img:<br><%= image_tag(@blog.image) %></p>
  <p>Title:<%= @blog.name %></p>
  <p>Memo:<%= @blog.content %></p>
  <%= form.submit  "登録する" %>
<% end %>
