<h3>以下の内容で、更新する。</h3>
<h1>Confirm</h1>
<p>Find me in app/views/blogs/confirm.html.erb</p>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>
  
  <p>img:<br><%= image_tag(@blog.image) %></p>
  <p>Title:<%= @blog.name %></p>
  <p>Memo:<%= @blog.content %></p>
  <%= form.submit  "登録する" %>
<% end %>
