<h1 class="favorite-top">Edit</h1>
<div class="box1-blogs-index">
<%= form_with(model: @blog, local: true) do |form| %>

<% if @blog.errors.any? %>
  <div id="error_explanation">
    <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= form.label :image %>
    <p><%= image_tag(@blog.image.url) if @blog.image.url %></p>
    <%= form.file_field :image, id: :feed_image %>
  </div>
  
  <div class="blog_title">
    <%= form.label :Title %><br>
    <%= form.text_field :name %>
  </div>
  
  <div class="blog_title">
    <%= form.label :Memo %><br>
    <%= form.text_field :content %>
  </div>

  <div>
  <%= form.submit %>
  </div>

<% end %>
<br>
