<div>
  <div>
    <h1 class="favorite-top">Favorite</h1>
      <div class="box1-blogs-index">
        <% if @favorite_blogs.present? %>
            <% @favorite_blogs.each do |t| %>
              <div>
                <p>img</p>
                <%= image_tag t.image %>
                <p>Writer：<%= t.user.name %></p>
                <p>Title:<%= t.name %></p>
                <p>Memo：<%= t.content %></p>
              </div>
            <% end %>
        <% end %>
      <div class="user-top"><%= link_to "back", blogs_path %></div>    
    </div>
</div>
<br>
