<div>
  <div  >
    <h1>Favorite</h1>
      <section>
        <% if @favorite_blogs.present? %>
            <% @favorite_blogs.each do |t| %>
            
              <div>
                <p>img: <%= t.image %></p>
                <%= image_tag t.image %>
                
                <p>メールアドレス: <%= @user.email %></p>
                
                <p>writer：<%= t.user.name %></p>
                
                <p>内容：<%= t.content %></p>
              </div>
              
            <% end %>
            
        <% end %>
        
      </section>
      
  </div>
  
  <%= link_to "一覧画面にもどる", blogs_path %>
</div>
