<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<h3>icon</h3>
<%= image_tag @user.icon %>
</div>
<br>

<p><%= link_to "一覧画面にもどる", blogs_path %></p>
<p><%= link_to 'お気に入り一覧へ', favorites_path %></p>
